.mainbtn {
  padding: 4px 14px;
  margin: 0 5px;
  border-radius: 2px;
  border: solid 0.1em;
  font-size: .7em;
  display: inline-block;
  font-weight: bolder;
  background-color: #ff7351;
  color: #ffffff;
  border-color: #ff7351;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.mainbtn:hover {
  padding: 4px 14px;
  margin: 0 5px;
  border-radius: 2px;
  border: solid 0.1em;
  font-size: .7em;
  display: inline-block;
  font-weight: bolder;
  background-color: transparent;
  color: #ff7351;
  border-color: #ff7351;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.secondbtn {
  padding: 4px 14px;
  margin: 0 5px;
  border-radius: 2px;
  border: solid 0.1em;
  font-size: .7em;
  display: inline-block;
  font-weight: bolder;
  background-color: #d6d7d9;
  color: #656c7a;
  border-color: #d6d7d9;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.secondbtn:hover {
  padding: 4px 14px;
  margin: 0 5px;
  border-radius: 2px;
  border: solid 0.1em;
  font-size: .7em;
  display: inline-block;
  font-weight: bolder;
  background-color: #656c7a;
  color: #d6d7d9;
  border-color: #d6d7d9;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.cuadrado1 {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #ff5f3b;
}
.cuadrado2 {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #ffda3e;
}
.cuadrado3 {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #93d753;
}
.cuadrado4 {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #67baef;
}
.cuadrado5 {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #4580c2;
}
small {
  color: #000000;
  font-size: .7em;
  font-weight: bold;
}
hr {
  border-color: #d6d7d9;
}
.header {
  background-color: #024f9f;
}
.header a {
  color: #7fa7cf;
}
.header .navbar {
  margin-bottom: 0px;
}
.header .navbar .navbar-brand {
  color: #fff;
}
.header .navbar .navbar-header .icon-bar {
  background-color: #fff;
}
.header .navbar .navbar-nav a {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.header .navbar .navbar-nav a:hover {
  background-color: inherit;
  color: #a0d0ff;
}
.header .navbar .navbar-collapse .navbar-right a.dropdown-toggle {
  color: #fff;
  font-weight: bold;
}
.header .navbar .navbar-collapse .navbar-right img {
  height: 22px;
  margin-right: 10px;
}
.header .navbar .navbar-collapse .navbar-right a:hover,
.header .navbar .navbar-collapse .navbar-right a:focus,
.header .navbar .navbar-collapse .navbar-right a:visited {
  background-color: inherit;
}
body {
  background-color: #e9ebee;
  letter-spacing: -0.3px;
  color: #000000;
}
.body {
  padding-top: 10px;
}
.body .profile img {
  width: 40%;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.body .profile img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.body .profile .profilemenu {
  padding: 0;
}
.body .profile .profilemenu li {
  list-style: none;
  padding: 5px;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.body .profile .profilemenu li a {
  color: #000000;
}
.body .profile .profilemenu li.active,
.body .profile .profilemenu li:hover {
  background-color: #d6d7d9;
}
.body .profile .profilemenu li.active a,
.body .profile .profilemenu li:hover a {
  color: #4580c2;
}
.body .profile .escalas {
  padding: 0;
}
.body .profile .escalas li {
  list-style: none;
  padding: 3px 0;
  font-size: .8em;
}
.body .profile .escalas li p {
  color: #878a8f;
  font-size: .8em;
}
.body .dashboard .up-panels {
  min-height: 250px;
}
.body .dashboard .detallecompetencias .progress {
  width: 100%;
  display: inline-block;
  margin-bottom: 0;
}
.body .dashboard .detallecompetencias .progress .progress-bar {
  background-color: #4580c2;
}
.body .dashboard .detallecompetencias .detalle_competencia {
  padding: 10px;
  border-bottom: solid 0.1em #e9ebee;
}
.body .dashboard .detallecompetencias .detalle_competencia b {
  font-size: .8em;
  padding: 0 20px;
}
.body .dashboard .detallecompetencias .detalle_competencia .collapse {
  padding: 40px 0;
}
.body .dashboard .panel {
  color: #878a8f;
  font-size: .9em;
}
.body .dashboard .panel h2 {
  font-weight: 800;
  font-size: .9em;
  color: #000000;
}
.body .dashboard .panel h4 {
  color: #000000;
  font-weight: bold;
  margin: 2px 0;
}
.body .dashboard .panel h5 {
  color: #878a8f;
  font-weight: bold;
  font-size: .9em;
  margin-bottom: 0;
  margin: 2px 0;
}
.body .dashboard .panel small {
  color: #878a8f;
}
.body .dashboard .panels2 h5 {
  font-size: .8em;
}
.body .dashboard .panels2 h4 {
  font-size: .9em;
}
.body .dashboard .panels2 .progress,
.body .dashboard .panels3 .progress {
  margin-bottom: 5px;
  height: 11px;
}
.body .dashboard .panels2 .progress .progress-bar,
.body .dashboard .panels3 .progress .progress-bar {
  height: 11px;
}
b {
  color: #43526e;
}
a:hover {
  text-decoration: none;
}
.donutContainer,
.donutContainer2 {
  position: relative;
}
.donutContainer h2 {
  text-align: center;
  position: absolute;
  line-height: 110px;
  width: 100%;
  font-size: 1.6em!important;
  color: #4580c2 !important;
}
.donutContainer2 h2 {
  text-align: center;
  position: absolute;
  line-height: 60px;
  width: 100%;
  font-size: 1em!important;
  color: #4580c2 !important;
}
svg {
  margin: auto;
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
circle#circle {
  stroke: #4580c2;
  stroke-width: .8em;
  fill: none;
}
circle#circle2 {
  stroke: #4580c2;
  stroke-width: .5em;
  fill: none;
}
.donut {
  stroke-dasharray: 377;
  -webkit-animation: donut 1s linear;
  -o-animation: donut 1s linear;
  animation: donut 1s linear;
}
.donut2 {
  stroke-dasharray: 252;
  -webkit-animation: donut2 1s linear;
  -o-animation: donut2 1s linear;
  animation: donut2 1s linear;
}
@keyframes donut {
  from {
    stroke-dashoffset: 377;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes donut2 {
  from {
    stroke-dashoffset: 252;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
